@model RealRehearsalSpace.Models.ViewModels.CreateBookedRoomViewModel

@{
    ViewData["Title"] = "Details";
}

<h2 class="chooseYourTime">Choose A Time To Book!</h2>
<h5 class="takenTimes">(Times That Are Already Booked Will Not Appear)</h5>
<hr />
<div>
    <form asp-controller="BookedRooms" asp-action="AddToBookedRooms" asp-route-id="@Model.room.RoomId">

        <div class="form-group">
            <select asp-for="timeTable.TimeTableId" class="form-control" asp-items="@Model.TimeTables"></select>
            <span asp-validation-for="TimeTables" class="text-danger"></span>
        </div>

        <div class="form-group bookBlock">
            <input type="submit" value="Book Room!" class="btn btn-danger btn-block" />
        </div>
    </form>
</div>

<div class="listContainer">
    <div class="col-xs-2"><a asp-action="Index"><i class="fas fa-arrow-alt-circle-left fa-2x"></i></a></div>
</div>
