@model RealRehearsalSpace.Models.ViewModels.CreateBookedRoomViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Choose A Time To Book</h2>
<div class="form-group">
    <label asp-for="TimeTables" class="control-label"></label>
    <select asp-for="timeTable.TimeTableId" asp-items="@Model.TimeTables"></select>
    <span asp-validation-for="TimeTables" class="text-danger"></span>
</div>
<div>
    <a asp-area="" asp-controller="BookedRoom" asp-action="AddToBookedRooms">Add To List Of Booked Rooms</a>
</div>
<div>
    <a asp-action="Index">Back To List Of Rooms</a>
</div>