@model IEnumerable<RealRehearsalSpace.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<h2>Choose A Room To Book</h2>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <a asp-action="Details" asp-route-id="@item.RoomId">Book This Room</a>
        </td>
    </tr>
    
}
    </tbody>
</table>
