@model IEnumerable<RealRehearsalSpace.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<h2 class="chooseYourRoom">Select A Room To Book!</h2>
<hr />
@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading roomHeader"><a asp-action="Details" asp-route-id="@item.RoomId">@Html.DisplayFor(modelItem => item.Name)</a></div>
    </div>
}

