@model RealRehearsalSpace.Models.ViewModels.EditBookedRoomViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-4">
        <h2 class="editYourTime">Edit The Time You Have Booked</h2>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="bookedRoom.BookedRoomId" />
            <div class="form-group">
                <select asp-for="timeTable.TimeTableId" class="form-control" asp-items="@Model.TimeTables"></select>
                <span asp-validation-for="timeTable.TimeTableId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-danger btn-block" />
            </div>
        </form>
    </div>
</div>
<hr />

<div class="col-xs-2"><a asp-action="Index"><i class="fas fa-arrow-alt-circle-left fa-2x backButton"></i></a></div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
