@{
    ViewData["Title"] = "About Us";
}
<h2 class="aboutUs">About Us!</h2>
<img src="~/images/SchoolBand.jpg" class="schoolBand" alt="Sample Photo" />
<p class="moreAboutUs">
    Welcome to Ensayar! I noticed that great deal of rehearsal spaces around Nashville
    did not have an easy way of actually booking a time to practice. There would only be a number to call, and
    the person on the other line didn't always pick up. I want you to spend more time rehearsing and
    less time trying to get ahold of someone to pin down when you need to DO your rehearsing. Book a room with us today!
</p>
