@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    123 Fake St.<br />
    Gaithersburg, MD 20878<br />
    <abbr title="Phone">P:</abbr>
    301-356-5915
</address>

<address>
    <strong>Support:</strong> <a href="mailto:kellycook20878@gmail.com">kellycook20878@gmail.com</a><br />
</address>
