@{
    ViewData["Title"] = "Contact Us!";
}
<h2 class="contactUs">Contact Us!</h2>
<hr />
<address class="address">
    <i class="fas fa-address-card"></i> 123 Fake St. Gaithersburg, MD 20878<br />
    <p></p>
    <i class="fas fa-phone"></i> 301-356-5915 <br />
    <p></p>
    <i class="fas fa-envelope"></i><a href="mailto:kellycook20878@gmail.com"> kellycook20878@gmail.com</a><br />
</address>
