@{
    ViewData["Title"] = "Home Page";
}

<p></p>
<div class="row">
    <div class="col-md-4">
        <h2 class="welcome">Book A Room With Us!</h2>
        <h5 class="chooseARoom">
            Choose A Room And A Time With Us At Ensayar!
        </h5>
    </div>

</div>
<p></p>
<img src="~/images/SchoolBand.jpg" class="schoolBand" alt="Sample Photo" />
<div class="row">
    <div class="col-md-4">
        <h5 class="chooseARoom">
            Spend Less Time Finding A Room And Spend More Time What You Love Doing...Playing!
        </h5>
    </div>
</div>
<p></p>
<div class="row">
    <div class="col-md-4">
        <h5 class="pickBelow">
            Click On The Calendar Icon Below To Start!
        </h5>
    </div>
</div>
<p></p>
<div class="handPointDown">
    <img src="~/images/hand-point-down-regular.svg" class="theHand" alt="Sample Photo" />
</div>


