@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2 class="welcome">Book A Room With Us!</h2>
    </div>
</div>
<img src="~/images/SchoolBand.jpg" class="schoolBand" alt="Sample Photo" />
<div class="row">
    <div class="col-md-4">
        <h5 class="chooseARoom">
            Spend Less Time Finding A Room And Spend More Time What You Love Doing...Playing!
        </h5>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h5 class="pickBelow">
            Click On The Calendar Icon Below To Start!
        </h5>
    </div>
</div>
<div class="handContainer">
    <div class="handDiv"><img src="~/images/hand-point-down-regular.svg" class="handPointDown" alt="Sample Photo" /></div>
</div>

