@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Book A Room With Us!</h2>
        <p>
            Choose A Room And A Time With Us At RealRehearsalSpace
        </p>
    </div>

</div>
