@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Book A Room With Us!</h2>
        <p>
            Choose a room and a time below before finalizing the booking.
        </p>
    </div>

</div>
