@{
    ViewData["Title"] = "Home Page";
}

@*<img src="~/images/whoknows.png" class="logo" alt="Sample Photo" />*@

<div class="row">
    <div class="col-md-4">
        <h2 class="welcome">Book A Room With Us!</h2>
        <p class="chooseARoom">
            Choose A Room And A Time With Us At RealRehearsalSpace
        </p>
    </div>

</div>
