/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

body {
    padding-top: 2em;
    padding-bottom: 4em;
    background-color: white;
    /*background-color: #8ccce4;*/
}

/* Wrapping element */
 /*Set some basic padding to keep content from hitting the edges*/ 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* NavBar */
.navbar {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

/* Footer (secondary navbar) */

.footerContainer {
    background-color: white;
    margin-top: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: 125%;
    display: inline-block;
    font-size: 2.75em;
    position: fixed;
    bottom: 0;
}

.schoolBand {
    width: 100%;
    height: 110%;
}

hr {
    width: 100%;
    right: -10%;
}

.handContainer {
    text-align: center;
}

.handPointDown {
    width: 15%;
    height: 15%;
    margin: 0 auto;
    display: inline-block;
}

.logo {
    color: #04a9f4;
    font-size: 2em;
}

.panel-header {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

.welcome, .chooseARoom, .pickBelow, .chooseYourRoom,
.yourBookedRooms, .theseBookedRooms, .chooseYourTime,
.takenTimes, .rUSure, .aboutUs, .contactUs {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: bold;
    text-align: center;
}

.forgot, .register, .back2List, .moreAboutUs {
    font-family: 'Hind Siliguri', sans-serif;
}

.timeBooked, .dayBooked {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

.back2List, .highVolume {
    padding-top: 1em;
}

.chooseARoom, .chooseYourRoom, .contactUs {
    padding-bottom: 1em;
}

.register {
    padding-left: 2.5em;
}

.welcome, .chooseYourRoom, .yourBookedRooms,
.chooseYourTime, .rUSure, .aboutUs, .contactUs {
    padding-top: 0.5em;
}

.chooseARoom {
    padding-top: 3em;
}

.pickBelow {
    padding-top: 3em;
    padding-bottom: 3em;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
